.custom-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  /* Ensures consistent column widths for hour columns */
}

.custom-table th,
.custom-table td {
  padding: 8px;
  box-sizing: border-box;
}

.custom-table td {
  border: 1px solid #d9d9d9;
}

.day-cell {
  white-space: normal;
  /* Allow line wrapping */
  word-wrap: break-word;
  /* Break long words if necessary */
  font-weight: bold;
  background-color: #f5f5f5;
  text-align: center;
  /* Align text to the left for better readability */
  min-width: calc(var(--hour-column-width, 100px) * 2);
  /* Minimum width is twice the hour column width */
  max-width: 300px;
  /* Optional: Set a maximum width to prevent excessive stretching */
  vertical-align: middle;
}

.today-row {
  background-color: white;
  /* Set the background color to white for today's row */
}

.hour-header {
  white-space: nowrap;
  /* Prevents text wrapping */
  overflow: hidden;
  /* Hides overflow if text is too long */
  text-overflow: ellipsis;
  /* Adds ellipsis for long text */
  text-align: left;
}

.schedule-cell {
  position: relative;
  height: 6rem;
  /* Adjust row height as needed */
}

.schedule-item {
  background-color: #f0f5ff;
  /* border: 1px solid #d9d9d9; */
  border-radius: 4px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: auto;
  /* Allow interaction with the schedule divs */
  z-index: 1;
  line-height: 2rem;
}

/* Dynamically calculate the width of hour columns */
:root {
  --hour-column-width: 100px;
  /* Default width for hour columns */
}

.room-1 {
  background-color: #C8E6C9;
  /* Solid background for room 1 */
}

.room-2 {
  background-color: #BBDEFB;
  /* Solid background for room 2 */
}

.room-3 {
  background-color: #FFCC80;
  /* Solid background for room 3 */
}

.state-0 {
  border: none;
}

.state-1 {
  background-color: transparent;
  border: 2px dashed;
  /* Thick dashed border */
}

.state-2 {
  background-color: gray;
  border: none;
}

.state-254 {
  background-color: darkred;
  color: white;
  border: 1px dashed black;
}

.state-255 {
  background-color: gray;
  border: 1px dashed darkred;
}

/* Apply room color to the border of state-1 */
.room-1.state-1 {
  border-color: green;
}

.room-2.state-1 {
  border-color: blue;
}

.room-3.state-1 {
  border-color: orange;
}

/* Base styles for all schedule items */
.schedule-item {
  height: 2rem;
  box-sizing: border-box;
  /* Include border in height */
}

/* Optional: Add top positioning based on room number */
.room-1 {
  top: 0;
}

.room-2 {
  top: 2rem;
}

.room-3 {
  top: 4rem;
}